absl-py==1.1.0
aiohttp 
aiosignal 
async-timeout
asynctest==0.13.0
attrs
blinker==1.4
brotlipy==0.7.0
cachetools==5.2.0
certifi 
cffi 
chardet 
charset-normalizer==2.1.0
click 
colorama 
cryptography 
cycler==0.11.0
Cython 
distlib==0.3.5
easydict==1.9
filelock==3.7.1
Flask 
Flask-Cors 
fonttools==4.34.4
frozenlist 
future==0.18.2
google-auth==2.9.1
google-auth-oauthlib==0.4.6
grpcio==1.47.0
gunicorn==20.1.0
idna 
importlib-metadata 
itsdangerous==1.1.0
Jinja2 
kiwisolver==1.4.4
Markdown==3.4.1
MarkupSafe 
matplotlib==3.5.2
mkl-random 
mkl-service==2.3.0
multidict 
numpy==1.21.6
oauthlib==3.2.0
olefile==0.46
opencv-python==4.6.0.66
packaging==21.3
pandas==1.3.5
Pillow==9.2.0
platformdirs==2.5.2
protobuf==3.19.4
pyasn1 
pyasn1-modules==0.2.8
pycparser 
PyJWT 
pyOpenSSL 
pyparsing==3.0.9
PySocks 
python-dateutil 
pytz 
PyYAML==6.0
requests 
requests-oauthlib==1.3.1
rsa==4.8
sam-cli==1.37.0
scipy==1.7.3
seaborn==0.11.2
six 
urllib3==1.26.10
virtualenv==20.15.1
Werkzeug 
win-inet-pton 
wincertstore==0.2
yarl 
zipp 
